#app { height: 100% }
html,
body {
  position: relative;
  height: 50vh;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}


.swiper {
  width: 100%;
  margin-top: 88px;
  height: 70vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.fest-banner2{
object-fit: contain;  
}
